<h1>
  {{title}} edit user
</h1>
<hr>

<form class="" action="index.html" (ngSubmit)="onSubmit()" method="put" #formUser="ngForm">

    <label for="">Name</label>
    <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" value="" class="" required>
    <span *ngIf="!name.valid && name.touched">Campo Obligatorio</span>

    <label for="">Birthdate</label>
    <input type="text" #birthdate="ngModel" name="birthdate" [(ngModel)]="user.birthdate" value="" required>
    <span *ngIf="!birthdate.valid && birthdate.touched">Campo Obligatorio</span>

    <label for="">ID de usuario: {{user.id}}</label>

    <!-- <div class="" *ngIf="!is_edit">
      <p>no editado</p>
    </div> -->

    <input type="submit" name="" value="{{title}}" [disabled]="!formUser.form.valid">
</form>
