<div class="container-create">
    <header class="header-create">
        <h4>Nuevo usuario</h4>
    </header>
    <form class="form-create" (ngSubmit)="onSubmit()" #formUser="ngForm">
        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="userToCreate.name" required>
        </div>
        <div class="input-group">
            <label for="birthdate">Birthdate</label>
            <input type="number" min="1000" max="9999" class="form-control date" name="birthdate-year" [(ngModel)]="userToCreate.birthdate.year" required>
            <input type="number" min="1" max="12" class="form-control date" name="birthdate-month" [(ngModel)]="userToCreate.birthdate.month" required>
            <input type="number" min="1" max="31" class="form-control date" name="birthdate-date" [(ngModel)]="userToCreate.birthdate.date" required>
        </div>
        <div class="form-submit">
            <input type="submit" class="btn btn-sm btn-success" value="Create User" [disabled]="!formUser.form.valid">
        </div>
    </form>
</div>
