<footer class="footer navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="hidden-md hidden-lg col-sm-12 color-app">
              <a href="https://www.linkedin.com/in/carlosbenito93/" target="_blank"><i class="fa fa-linkedin-square footer-icon" aria-hidden="true"></i></a>
              <i class="fa fa-envelope footer-icon" aria-hidden="true"></i>
              <i class="fa fa-user footer-icon" aria-hidden="true"></i>
            </div>
            <div class="hidden-xs hidden-sm col-md-4">
                <a href="https://www.linkedin.com/in/carlosbenito93/" target="_blank"><span><i class="fa fa-linkedin-square footer-icon" aria-hidden="true"></i>LinkedIn</span></a>
            </div>
            <div class="hidden-xs hidden-sm col-md-4">
                <span><i class="fa fa-envelope footer-icon" aria-hidden="true"></i>carlosbenito11293@gmail.com</span>
            </div>
            <div class="hidden-xs hidden-sm col-md-4">
                <span><i class="fa fa-user footer-icon" aria-hidden="true"></i>Carlos Benito Reboloso</span>
            </div>
        </div>
    </div>
</footer>
