<h1>
  {{title}}
</h1>
<div  class="row">
  <div *ngIf="users">
    <div *ngFor="let user of users; let i = index" class="col-lg-3"  >
      <div class="thumbnail">
        <div *ngIf="confirmed == null">
          <a [routerLink]="['/show_user_details', user.id]" name="show" class="btn btn-md btn-primary">show</a>
          <a [routerLink]="['/edit_user', user.id]" name="edit" class="btn btn-md btn-warning">Edit</a>
          <a (click)="deleteConfirmed(user.id)" name="delete" class="btn btn-md btn-danger">Delete</a>
        </div>
        <div class="caption" *ngIf="confirmed == user.id">
          <p>You will delete this User. Are you sure?</p>
          <a (click)="onDeleteUser(user.id)" name="show" class="btn btn-md btn-danger">Delete user</a>
          <a (click)="cancelConfirmed()" name="show" class="btn btn-md btn-warning">Cancel</a>
          <ul>
            <li>user: {{i+1}}</li>
            <li>Name: {{user.name}}</li>
            <li>Birthdate: {{user.birthdate}}</li>
            <li>id: {{user.id}}</li>
          </ul>
        </div>
        <div class="caption" *ngIf="confirmed == null">
            <h2>user: {{i+1}}</h2>
            <p>Name: {{user.name}}</p>
            <p>Birthdate: {{user.birthdate | date:'yy/MM/dd'}}</p>
            <p>id: {{user.id}}</p>
        </div>
      </div>
    </div>
  </div>
  <span *ngIf="!users">Cargando..</span>
</div>
