/* You can add global styles to this file, and also import other style files */
html{
	height: 100%;
}
body{
	min-height: 100%;
	position: relative;
  padding-top: 70px; /*Body padding required by bootstrap navbar*/
  padding-bottom: 70px; /*Body padding required by bootstrap navbar*/
}
